BasedOnStyle : Google
SortIncludes: false
IndentCaseLabels : false
IndentWidth : 4
TabWidth: 4
ColumnLimit: 120
ContinuationIndentWidth: 4
AlwaysBreakTemplateDeclarations : false
DerivePointerAlignment : false
SpacesBeforeTrailingComments: 2